{#<div class="col-xl-6">#}
{#    <div class="card h-100 w-6in border-1 mb-4">#}
    <div class="card">
        <div class="card-header">

            <span class="float-start">
                {{ project.name }}
            </span>
        </div>

    </div>
{#</div><!-- end col -->#}



