{% extends '@SurvosMobile/onsPage.html.twig' %}
{% block tabId 'blank' %}
{#{% block toolbar %}#}
{#    {{ parent() }}#}
{#    <div class="center">home?</div>#}
{#{% endblock %}#}

{% block body %}

    Toolbar here

    <div class="background"></div>

    <div class="content">
        Scrollable content here
    </div>

    Fixed content here
{% endblock %}
