{% extends "@SurvosMobile/onsPage.html.twig" %}

{% block pageId 'credits' %}
{% block body %}

    dexie so we can have project info?

    <a href="{{ path('app_landing') }}">Reload</a>

    See the original at
    <a target="_blank" href="https://audio.nationalgalleries.org/hill-and-adamson/index.html">https://audio.nationalgalleries.org/hill-and-adamson/index.html</a>

    https://guide.kalmarlansmuseum.se/de/die-kronan/

    <hr />


{% endblock %}
