{% extends 'project_base.html.twig' %}
{% import "@SurvosBase/macros/cards.html.twig" as card_widget %}

{% block title %}Item index{% endblock %}

{% block javascripts %}
{{ parent() }}

{% endblock %}

{% block body %}
    {% if attribute %}
    <h1>{{ attribute }}: {{ value }}</h1>
    {% endif %}

    <pre>Basic HTML Table!</pre>

    {% set body %}
        {% include "item/_items_table.html.twig" with {items: items} only %}
    {% endset %}

    {{ card_widget.pane({
        content: body,
        id: 'items_card',
        title: app.request.get('_route')
    }
    ) }}

{% endblock %}
